/*common css*/
*:target{background: red!important;}


.header{width: 100%; height: 170px;	background: url("../img/gnb.png") 0 0 no-repeat; background-size: 100% 100%; position: fixed; top: 0;z-index: 999;}
.header h1.logo{width: 55px; height: 56px; margin: 20px auto;}
.header ul.gnb{width: 100%; margin: 5px 0}
.header ul.gnb li{display: inline;}
.header ul.gnb li a{display: block; float:left; width: 20%; color: #fff; text-align: center;}




.container{width: 100%; position: relative;}
.container section{width: 100%; height: 1150px; border: 1px solid #000; margin-top:110px;}

/*section01 main*/
.container #main{ width: 100%; height: 1150px;background: linear-gradient(-155deg, #94006f, #a0ccff); background-size: 100% 100%;}
    .container #main h1, h5{ color: #000; margin: 100px auto; text-align: center; font-size: 10px; letter-spacing: 14px; line-height: 25px;}
    .container #main>h1 em{font-size:40px;}
    .container #main>h5{margin: -50px; font-size: 15px; line-height: 35px;}

    .container #main ul.main_box{width: 50%; height: 300px; display: flex; margin:0 auto; margin-top: 120px; flex-direction: row;  align-items:center; justify-content: space-around;}
        .container #main ul.main_box li {width: 30%; height:0; padding-top: 30%; position: relative}
            .container #main ul.main_box li>div{width:100%; height:100%;position: absolute; top:0; left: 0; background: linear-gradient(-155deg, #4a1070b3, #571c43);; text-align: center; padding-top: 50px;}
            .container #main ul.main_box li>div>h5{color: #fff; line-height: 20px; margin: 0; font-size: 15px; letter-spacing: 5px; font-weight: normal; margin-top:60px;}

            .container #main ul.main_box li div .icon{font-size: 40px;}



/*section02 profile*/
.container #profile{ width: 100%; height: 1150px; background: greenyellow;}


/*section03 portfolio*/
.container #portfolio{ width: 100%; height: 1150px; background: greenyellow;}

/*section04 study*/
.container #study{ width: 100%; height: 1150px; background: greenyellow;}

/*section05 blog*/
.container #blog{ width: 100%; height: 1150px; background: greenyellow;}

/*section05 contact*/
.container #contact{ width: 100%; height: 1150px; background: greenyellow;}




.footer{;}